.side{
    margin-top: 100px;
}

.side li{
    display: inline-block;
}
.side ul{
    list-style: none;
    padding: 0px;
    width: 98%;
    margin: 0 1%;
    text-align: center;
}
.Categorie1::before{
    content: "\e900";
    font-family: "icomoon";
    padding-right: 20px;
    padding-left: 4px;
}
.Categorie2::before{
    content: "\e900";
    font-family: "icomoon";
    padding-right: 18px;
    padding-left: 3px;
}
.Categorie3::before{
    content: "\e900";
    font-family: "icomoon";
    padding-right: 16px;
    padding-left: 2px;
}
.Categorie4::before{
    content: "\e900";
    font-family: "icomoon";
    padding-right: 12px;
    
}
.Categorie1{
    font-size: 14px;
}
.Categorie2{
    font-size: 16px;
}
.Categorie3{
    font-size: 18px;
}
.Categorie4{
    font-size: 20px;
}
.side a{
    text-decoration: none;
    color: #3B635B;
    
}
@media screen and (min-width: 1024px){
    .side li{
        display: list-item;
    }
    .side ul{
        text-align: left;
        margin: 0px;        
    }
    .side a:hover{
   color: #F7C954; 
}
}