footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3B635B;
    color: white;
    float:left;
}

a, p {
    color: white;
}

p {
    margin-left: 50px;
    float: left;
}

.number{
    color:white;
    float: right;
    margin-right: 50px;
}


.websites{
    color:white;
}

@media only screen and (min-width: 670px){
    .contact, .number {
        float:left;
        margin-left: 50px;
    }
    
    .websites{
        float: right;
        margin-right: 50px;
    }
    
}
