
/* dit is de code voor de footer */
footer{
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3B635B;
    color: white;
}

footer a, footer p {
    color: white;
    transition: 0s;
}

footer p {
    margin-left: 50px;
    float: left;
}

.number{
    color:white;
    float: right;
    margin-right: 50px;
}

/* de social media icons */
.social {
    list-style: none;
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.social li {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.social li a{
    display: block;
    background-image: url(../../images/iconsheetfooter.png);
    width: 20px;
    height: 20px;
    color: rgba(0,0,0,0);
}

#facebook{
    background-position: 20px 0px;
}

#twitter:hover{
    background-position: 0px 20px;
}

#facebook:hover{
    background-position: 20px 20px;
}

.contact, .number {
    float:left;
    margin-left: 30px;
}

.social {
    margin-top: 17px;
}

/* hun websites */
.websites{
    color:white;
    float: left;
    margin-right: 50px;
}

/* het erasmus logo + website */
.copyright{
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    float: left;
    width: 30%;
}
.ehb{
    font-size: 14px;
    vertical-align: top;
}
.ehb img{
    width: auto;
    height: 18px;
    margin-right: 20px
}

/* mediaquery mobile */
@media only screen and (max-width: 768px){
    footer{
        position: relative;
        height: 190px;
        text-align: center;
    }
    /* hun websites */
    .websites, .number{
        margin-right: 0px;
        text-align: left;
    }
    .websites{
        float: left;
        margin-left: 30px;
    }
    /* social media icons */ 
    .social{
        padding-left: 0px;
        margin-right: 20px;
    }
    
    /* ehb logo + website */
    .copyright{
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
        margin-right: 0px;
    }
    .ehb{
        font-size: 10px;
    }
}

/* mediaquery tablet */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    footer{
        height: 75px;
    }
}
