header nav {
    background-color: white;
    display: block;
    padding: 0px;
}

#current{
    background-image: url(../../images/selectieV.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    padding-bottom: 30px;
    background-position: 50% 40px;
}

header nav img{
    position: absolute;
    width: 187px;
    margin-left: 25px;
    margin-top: 12px;
}

header ul {
    list-style-type: none;
    margin: 0px 25px 0px 0px;
    padding: 0px;
    overflow: hidden;
}

header li {
    padding: 10px;
}

header li:last-of-type{
    margin-bottom: 20px;
}

header li a {
    display: block;
    color: #3B635B;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    font-size: 20px;
    transition: .2s;
}

header li a:hover {
    color: #F7C954;
}

.logo {
    width: 180px;
    margin-top: -45px;
}

#subnav1 {
    display: none;
    width: 300px;
}

#subnav1:target {
    display: block;
}

#subnav1 li{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: -10px;
}

#subnav1 li a{
    font-size: 18px;
    text-align: right;
}


@media only screen and (min-width: 768px){
    #current{
    background-position: 50% 60px;
}
    
    header ul {
        margin: 0px 50px 0px 0px;
    }

    header nav img{
        margin-left: 50px;
    }

    header li {
        float: right;
        padding: 0px;
        margin-left: 100px;
    }

    header li:last-of-type{
        margin-bottom: 0px;
    }

    header li a {
        padding: 14px 16px;
    }

    #subnav1 li{
        margin-left: 20px;
        font-size: 18px;
        margin-top: -15px;
    }

    header li a {
        text-align: center;
        padding: 30px 5px;
        font-size: 25px;
    }
}
