header nav {
     background-color: white;
    display: block;
    margin: -7px;
    padding: 0px;
}

#current{
    background-image: url(../../images/selectieV.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    padding-bottom: 10px;
    background-position: 50% 40px;
}

header nav img{
    position: absolute;
    width: 187px;
    margin-left: 50px;
    margin-top: 12px;
}

header ul {
    list-style-type: none;
    margin: 0px 50px 0px 0px;
    padding: 0px;
    overflow: hidden;
}

header li {
    float: right;
}

header li a {
    display: block;
    color: #3B635B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: .2s;
}

header li a:hover {
    color: #F7C954;
}

.logo {
    width: 180px;
    margin-top: -45px;
}

.subnav1 {
    display: none;
    width: 300px;
}

.subnav1 li{
    margin-left: 20px;
    font-size: 18px;
    margin-top: -15px;
}

.subnav1 li a{
    font-size: 18px;
    text-align: center;
}

#media:hover .subnav1{
    display: block;
}

#current .subnav1{
    display: block;
}
