header nav {
    background-color: white;
    display: block;
    padding: 0px;
}

#current {
    background-image: url(../../images/selectieV.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    padding-bottom: 40px;
    background-position: 50% 40px;
}

header nav img {
    width: 200px;
    margin-left: 62px;
    margin-top: -125px;
}

header ul {
    list-style-type: none;
    margin: 0px 50px 0px 0px;
    padding: 0px;
    overflow: hidden;
}

header li {
    float: right;
    padding: 0px;
    margin-left: 100px;
}

header li:last-of-type {
    margin-bottom: 20px;
}

header li a {
    padding: 14px 16px;
    text-align: center;
    font-size: 25px;
    display: block;
    color: #3B635B;
    text-decoration: none;
    transition: .2s;
}

header li a:hover {
    color: #F7C954;
}

.logo {
    width: 180px;
    margin-top: -45px;
}

#current #subnav1 {
    padding-bottom: 0px;
}

#subnav1 {
    display: none;
    width: 300px;
    padding-bottom: 20px;
}

#subnav1:target {
    display: block;
}

#subnav1 li {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 20px;
}

#subnav1 li a {
    font-size: 18px;
    text-align: right;
}


@media only screen and (max-width: 768px) {
    #current {
        background-position: 50% 35px;
        padding-bottom: 25px;
    }

    header ul {
    width: 100px;
        margin: auto;
    }
    
    header li {
        display: block;
        clear: both;
        width: 100px;
        margin: auto;
    }

    header li a {
        font-size: 20px;
    }


    header nav img { 
        margin-left: 25px;
        margin-top: 15px;
    }
    
    #subnav1{
        width: 100px;
        margin-top: 5px;
        padding-bottom: 0px;
    }
    
    #subnav1 li {
        width: 100%;
    }
    
    #subnav1 li a {
        text-align: center;
        padding: 0px;
        font-size: 15px;
    }
}


