.afmontage, .afmontage img {
    width: 100%;
    margin: auto;
}

.getuigenis {
    width: 45%;
    float: left;
}

.getuigenis:nth-of-type(2){
    margin-left: 2%;
}

.getuigenis img {
    width: 45%;
    float: left;
}

.getuigenis p, .getuigenis h3 {
    width: 45%;
    float: right;
}

.geel {
    width: 100%;
    margin: auto;
    background-color: #F7C954;
    margin-top: -5px;
    padding: 50px;
    box-sizing: border-box;
}

.inleiding{
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    /*home1*/

    .afmontage > img {
        width: 98%;
        margin-left:2%;
        
    }

    .titelhome {
        margin-top: 105px;
        font-size: 38px;
    }

    /*home2*/

    .geel {
        margin-left: 10%;
        width: 80%;
        height: 112vh;

    }

    .geel > .getuig2 img {
        padding-top: 0%;
        margin-left: 0%;
        width: 100%;
    }

    .getuig2 > .flo {
        margin-top: 3%;
        font-size: 16px;
    }

    .getuig2 > p {
        position: absolute;
        margin-right: 16%;
        margin-left: 3%;
        margin-top: 10%;
        font-size: 12px;
    }

    .geel > .getuig1 img {
        width: 100%;
        margin-left: 0%;
        padding-top: 70%;

    }

    .getuig1 > p {
        margin-right: 19%;
        margin-top: 3%;
        margin-left: 3%;
    }

    .getuig1 > .sarah {
        margin-top: -5%;
        margin-left: 3%;
    }

    /*home3*/
    .blauw > .titelinleiding {
        margin-left: 5%;
    }

    .inleiding {
        margin-right: 5%;
        margin-left: 5%;
    }

    .blauw {
        padding-bottom: 95%;

    }

    .blauw > img {
        margin-left: 3%;
        padding-top: 22%;
        width: 93%;
    }
}
