.afmontage,
.afmontage img {
    width: 100%;
    margin: auto;
}

.getuigenis {
    width: 45%;
    float: left;
}

.getuigenis:nth-of-type(2) {
    margin-left: 2%;
}


.getuigenis img {
    width: 45%;
    float: left;
}

.getuigenis p,
.getuigenis h3 {
    width: 45%;
    float: right;
}

.geel {
    width: 100%;
    margin: auto;
    background-color: #F7C954;
    margin-top: -5px;
    padding: 50px;
    box-sizing: border-box;
}

.inleiding {
    width: 65%;
    margin: auto;
}

#inleiding{
    width: 100%;
}

#inleiding p, #inleiding h3 {
    width: 50%;
    box-sizing: border-box;
}

#inleiding img {
    width: 45%;
}

@media only screen and (max-width: 768px) {
    .inleiding {
        width: 95%;
    }
    
     .getuigenis:nth-of-type(2) {
        margin-left: 0%;
    }
    
    .getuigenis {
        width: 100%;
    }

    .getuigenis img,
    .getuigenis p,
    .getuigenis h3 {
        width: 100%;
    }

    .getuigenis h3 {
        margin-bottom: -10px;
    }

    .geel {
        padding: 25px;
    }
    
    .title {
        margin-top: 28px;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .inleiding {
        width: 70%;
    }
    
    .getuigenis img{
        width:30%;
    }
    .getuigenis:nth-of-type(2) {
        margin-top:2%;
    }

    .getuigenis p,
    .getuigenis h3 {
        width: 87%;
        float: right;
    }
    
    .getuigenis p, .getuigenis h3 {
        width: 58%;
    }
}

