.gallery{
    overflow: auto;
    white-space: nowrap;
    height: 500px;
    padding-left: 7%;
}
.gallery h4{
    color: #3B635B;
    margin-top: 0px;
}
.gallery img{
    height: 35vh;
}
.gallery figure{
    margin: 0px;
    display: inline-block;
    margin-right: 10px;
}
.figcaption{
    font-size: 12px;
}
.beer{
    height: auto;
    width: 80%
}
main{
    margin-bottom: 150px;
}