.gallery{
    overflow: auto;
    white-space: nowrap;
    padding-left: 5%;
    text-align: left;
}
.boeken-multimedia{
    text-align: center;
}
.gallery h4{
    color: #3B635B;
    margin-top: 0px;
}
.gallery img{
    height: 35vh;
}

.gallery figure{
    margin: 0px;
    display: inline-block;
    margin-right: 10px;
}

.gallery p{
    color: black;
    font-size: 12px;
    margin: 0px;
}

.gallery .beer{
    height: 27vh;
    padding-bottom: 30px;
}

.top{
    color: black;
    font-size: 10px;
    text-decoration: underline;
    margin-left: 0px;
}

.kleuter,.lagereschool,.adolescenten,.informatief{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.lagereschool,.informatief{
    background-color: white;
}

figure {
    width: 80vw;
    height: 60vh;
    vertical-align: top;
}

figure figcaption p, figure figcaption h4{
    text-align: left;
    width: 100%;
    white-space: normal;
}

.boeken, .multimedia{
   text-align: left; 
    margin-left: 15px;
}
@media only screen and (min-width: 768px){
    .gallery{
        text-align: center;
    }
}
@media only screen and (min-width: 1024px){
    figure {
        width: 20vw;
        height: 55vh;
    }
    
    .boeken, .multimedia{
        margin-left: 100px;
    }
.boeken-multimedia{
        margin-top: 2%;
        margin-left: 0;
    }
    .books{
        margin-bottom: 75px;
    }
    .gallery figure{
        margin: 0 100px;
    }
    .gallery{
        padding-left: 0;
    }
}
