body{
    background-color: #E8F7F5;
    margin: 0px;
}

/* dit zorgt dat alle tekst dezelfde kleur heeft*/
* {
    color: #3B635B;
}

/* code voor de links */
a {
    transition: .2s;
    text-decoration: underline;
}

a:hover {
    color: #F7C954; 
}

/* dit is de code voor de 'terug naar boven' link */
.top{
 margin-left: 200px;
}

/* mediaqueries voor mobile */
@media only screen and (max-width: 768px){
    .top{
        margin-left: 25px;
    }
}



/* CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}