/* code voor de hoofdtitels van de pagina's */
.title {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

/* dit is een algemene twee-kolommen layout */
.columns{
    margin: 10px 100px 0px; 
}

.twocolumn img {
    width: 40%;
    float: left;
}

.twocolumn p {;
    height: 100%;
}

.twocolumn {
    display: block;
    width: 80%;
    margin-bottom: 50px;
}

section:last-of-type{ /* dit geeft het laatste stuk van de pagina wat 'ademruimte' zodat de footer er niet overkomt */
    margin-bottom: 100px;
}

.twocolumn h1{
    margin-left: 0px;
}

.twocolumn h2{
    margin-left: 50px;
}

.twocolumn p, .twocolumn h3 {
    margin: 0px;
    width: 60%;
    float: right;
    box-sizing: border-box;
    padding: 0px 25px;
}

.wrapper{
    margin: 0px 100px;
}

/* mediaqueries voor mobile */
@media only screen and (max-width: 768px){
    .wrapper {
        margin: 0px 25px;
    }
    
    .columns{
        margin: 10px 25px;
    }

    .twocolumn {
        width: 100%;
    }

    .twocolumn img {
        clear: both;
        width: 100%;
        margin-bottom: 10px;
    }

    .twocolumn h2 {
        margin-left: 25px;
    }

    .twocolumn p, .twocolumn h3{
        width: 100%;
        clear: both;
        padding: 0px;
    }

    .title {
        margin-top: 100px;
    }
    
}