
/*deze code zorgt ervoor dat de verschillende soorten tekst (header, leestekst, etc) overal dezelfde grootte's heeft */
*{
    font-family: 'Noto Sans', sans-serif;
}

footer p{
    font-size: 12px;
}

p {
    font-size: 15px;
}

h2 {
    font-size: 20px;
}

.title {
    font-size: 30px;
}

/* mediaquery voor desktop */
@media only screen and (min-width: 678px){
    footer p{
        font-size: 16px;
    }
}